django==4.0.8
djangorestframework
markdown
django-filter
django-extensions
Pillow
psycopg2
django-cors-headers
django-import-export
django-storages
drf-access-policy
drf-nested-routers
drf-yasg
pylint-django
django_prometheus
Celery
django-redis
aws_xray_sdk
Faker

django-request-logging
django-health-check
pytest-django
pytest-factoryboy
pytest-cov
python-decouple
django-q

django-storages
google-auth
google-api-python-client
PyGithub
GitPython
cookiecutter
debugpy
giturlparse
pathlib
requests
docker
boto3
django-nested-admin

whitenoise
gunicorn

mysql
mysqlclient
mysql-connector

django-structlog
django-cors-headers